<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Asim</title>
</head>

<body>
    <div id="container1">
        {{>navbar}}
        <div id="intro">
            <p id="bigtext">I<span>'</span>M<BR> ASIM KR.<BR> DE<span>.</span></p>
            <p id="subtext">Full Stack Web Developer <br> cum Devops</p>
        </div>
    </div>
    </div>
    <div id="container2">
        <div id="container1-5">
            <div class="logo2" id="logo2"></div>
            <p>I'M A PARAGRAPH. CLICK HERE TO ADD YOUR OWN TEXT AND EDIT ME. IT’S EASY. JUST CLICK “EDIT TEXT” OR DOUBLE
                CLICK ME TO ADD YOUR OWN CONTENT AND MAKE CHANGES TO THE FONT. FEEL FREE TO DRAG AND DROP ME ANYWHERE
                YOU
                LIKE ON YOUR PAGE. </p>
            <a href="#">DOWNLOAD RESUME</a>
        </div>
        <div id="p01">
            <p class="professional"><span>01</span>PROFESSIONAL</p>
            <p class="my">MY KNOWLEDGE LEVEL IN SOFTWARE</p>
        </div>
        <div id="skills">
        </div>
    </div>
    <div id="container3">
        <div id="p02">
            <p class="professional"><span>02</span> PORTFOLIO</p>
            <p class="my">MY LATEST WORK. SEE MORE ></p>
        </div>
        <div id="works">
            <img class="workpic" src="img/Screenshot (138).png" alt=""><img class="workpic"
                src="img/Screenshot (140).png" alt=""><img class="workpic" src="img/Screenshot (141).png" alt="">
        </div>
        <div id="p03">
            <p class="professional"><span>03</span>EXPERIENCE</p>
        </div>
        <div id="experience">
            <div class="right">
                <span class="year">2014-2016</span><br>
                <span class="hop">HOP!</span><br>
                <span class="creative">Creative Design Lead</span><br>
                <span class="lorem">I'm a paragraph. Click here to add your own text and edit me. Just click “Edit Text”
                    or double click me to add your own content and make changes to the font. </span>
            </div>
            <div class="left"><span class="year">2014-2016</span><br>
                <span class="hop">HOP!</span><br>
                <span class="creative">Creative Design Lead</span><br>
                <span class="lorem">I'm a paragraph. Click here to add your own text and edit me. Just click “Edit Text”
                    or double click me to add your own content and make changes to the font.</span>
            </div>
            <div class="right">
                <span class="year">2014-2016</span><br>
                <span class="hop">HOP!</span><br>
                <span class="creative">Creative Design Lead</span><br>
                <span class="lorem">I'm a paragraph. Click here to add your own text and edit me. Just click “Edit Text”
                    or double click me to add your own content and make changes to the font.</span>
            </div>
            <div class="left"><span class="year">2014-2016</span><br>
                <span class="hop">HOP!</span><br>
                <span class="creative">Creative Design Lead</span><br>
                <span class="lorem">I'm a paragraph. Click here to add your own text and edit me. Just click “Edit Text”
                    or double click me to add your own content and make changes to the font.</span>
            </div>
            <div class="right">
                <span class="year">2014-2016</span><br>
                <span class="hop">HOP!</span><br>
                <span class="creative">Creative Design Lead</span><br>
                <span class="lorem">I'm a paragraph. Click here to add your own text and edit me. Just click “Edit Text”
                    or double click me to add your own content and make changes to the font. </span>
            </div>
            <div class="left"><span class="year">2014-2016</span><br>
                <span class="hop">HOP!</span><br>
                <span class="creative">Creative Design Lead</span><br>
                <span class="lorem">I'm a paragraph. Click here to add your own text and edit me. Just click “Edit Text”
                    or double click me to add your own content and make changes to the font. </span>
            </div>
        </div>

    </div>
    <div id="container4">
        <div id="container3-5">
            <div id="contact">
                <div id="contactleft">
                    <span>CONTACT</span>
                    <span>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to
                        tell a story and let your users know a little more about you.</span>
                    <span>info.asimde01@gmail.com</span>
                    <span>Phone: +91 7718243653</span>
                </div>
                <div id="contactright">
                    <form id="contactform" action="">
                        <input type="text" class="inph" id="inpname" placeholder="Name">
                        <input type="email" class="inph" id="inpemail" placeholder="E-mail">
                        <input type="phone" class="inpf" id="inpphone" placeholder="Mobile">
                        <textarea name="" id="inpmessege" cols="30" rows="7" placeholder="Messege"></textarea>
                        <button id="inpsend">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="logo2" id="logo3"></div>
        <p>&copy; 2021 by Asim Kumar De. Proudly created by ASIM</p>
    </div>
</body>
<script src="js/home.js"></script>

</html>