<link rel="stylesheet" href="css/navbar.css">
<div id="navbar">
            <div class="logo"></div>
            <ul id="navitems">
            <li id="nav1">HOME</li>
            <li id="nav2">PROFESSIONAL</li>
            <li id="nav3">EXPERIENCE</li>
            <li id="nav4">PORTFOLIO</li>
            <li id="nav5">CONTACT</li>
        </ul>
        </div>