<link rel="stylesheet" href="css/navbar.css">
<div id="navbar">
            <div class="logo"></div>
            <ul id="navitems">
            <li id="nav1"><a href="">HOME</a></li>
            <li id="nav2"><a href="#p01">PROFESSIONAL</a></li>
            <li id="nav3"><a href="#p03">EXPERIENCE</a></li>
            <li id="nav4"><a href="#p02">PORTFOLIO</a></li>
            <li id="nav5"><a href="#contact">CONTACT</a></li>
        </ul>
        </div>